* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
#nc-body {
    background-attachment: scroll;
    background-color: #dbd8d8;
    background-image: url("nc-root-1.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
#nc-page {
    align-content: center;
    display: flex;
    flex-direction: column;
    opacity: 0.46;
}
#nc-top-bar {
    background-attachment: unset;
    background-color: #352323;
    background-image: unset;
    background-position: unset;
    background-repeat: unset;
    background-size: unset;
    border: 0px solid;
    display: flex;
    flex-direction: row;
    opacity: 0.53;
}
#nc-content {
    display: flex;
    flex-direction: row;
    height: 80px;
    min-width: 100px;
    opacity: 0.25;
}
#nc-logo-chat {
    background-attachment: unset;
    background-image: unset;
    background-position: unset;
    background-repeat: unset;
    background-size: unset;
    color: black;
    object-fit: scale-down;
    object-position: left top;
    max-height: 95px;
}
#nc-menu-bar {
    align-content: flex-end;
    background-attachment: scroll;
    background-image: linear-gradient(to right, #ffffff 0%, #5c3e3e 100%);
    background-position: left top;
    background-repeat: repeat;
    background-size: auto;
    display: flex;
    justify-content: space-between;
    min-width: 92%;
}
#nc-menu-texte {
    align-self: flex-start;
    font-family:
        Arial Black,
        Gadget,
        sans-serif;
    font-size: 26px;
    padding: 10px;
}
#nc-display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 700px;
}
#nc-menu-container {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}
#nc-bottom-bar-2 {
    background-attachment: scroll;
    background-image: linear-gradient(to right, #fff6f6 0%, #735e5e 100%);
    background-position: left top;
    background-repeat: repeat;
    background-size: auto;
    height: 100px;
}
#nc-bottom-text {
    font-family:
        Arial Black,
        Gadget,
        sans-serif;
    padding: 10px;
}
#nc-content-bloc {
    background-color: #ffffff;
    border: 6px dotted #000000;
    border-radius: 20px;
    margin: 20px;
    min-height: 300px;
    min-width: 30%;
}
#nc-logo-container {
    background-color: #ffffff;
    min-width: 8%;
}
#nc-menu-item {
    padding: 10px;
    font-family:
        Arial Black,
        Gadget,
        sans-serif;
}
#nc-menu-item-2 {
    padding: 10px;
    font-family:
        Arial Black,
        Gadget,
        sans-serif;
}
#nc-menu-item-3 {
    padding: 10px;
    font-family:
        Arial Black,
        Gadget,
        sans-serif;
}
@media (max-width: 992px) {
    #nc-logo-container {
        min-width: 8%;
        min-height: 95px;
    }
    #nc-menu-bar {
        min-height: 95px;
    }
    #nc-menu-container {
        min-height: 95px;
    }
}
