* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

#nc-body {
    background-attachment: scroll;
    background-image: url("nc-back-top.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
}

#nc-page {
    align-content: center;
    border: 0px solid;
    display: flex;
    flex-direction: column;
    opacity: 1;
}

#nc-top-bar {
    background-attachment: unset;
    background-image: unset;
    background-image-color: unset;
    background-image-gradient: unset;
    background-image-gradient-dir: unset;
    background-image-gradient-type: unset;
    background-position: unset;
    background-repeat: unset;
    background-size: unset;
    border: 0px solid;
    display: flex;
    flex-direction: row;
    min-height: 120px;
    max-width: 1000px;
    opacity: 0.53;
    order: 1;
}

#nc-menu-bar {
    align-content: flex-end;
    background-attachment: unset;
    background-image: unset;
    background-image-color: unset;
    background-image-gradient: unset;
    background-image-gradient-dir: unset;
    background-image-gradient-type: unset;
    background-position: unset;
    background-repeat: unset;
    background-size: unset;
    display: flex;
    justify-content: space-between;
    min-width: 92%;
    padding: 5px 0px 0px 50px;
}

#nc-middle-title {
    align-self: flex-start;
    color: #456882;
    font-family: Arial, Gadget, sans-serif;
    font-size: 28px;
    font-size: clamp(18px, 2vw, 28px);
    padding: 56px 0px 0px 2%;
}

#nc-middle-text {
    color: #234c6a;
    font-family: Arial, Gadget, sans-serif;
    font-size: 18px;
    font-size: clamp(12px, 2vw, 18px);
    padding: 10px 0px 0px 2%;
}

#nc-display-top {
    display: flex;
    border: 0px solid;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1000px;
    order: 2;
    visibility: visible;
}

#nc-bloc-top {
    font-family: Arial, Gadget, sans-serif;
    padding: 2%;
    font-size: 16px;
    font-size: clamp(12px, 2vw, 16px);
}

#nc-bloc-top img {
    max-width: 100%;
    height: auto;
    /* Maintain aspect ratio */
    flex: 1 1 auto;
    /* Allow images to grow and shrink */
    object-fit: cover;
}

#nc-bloc-top-flex {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    font-family: Arial, Gadget, sans-serif;
    font-size: 16px;
    font-size: clamp(12px, 2vw, 16px);
    padding: 10px 0px 0px 2%;
}

#nc-bloc-top-flex img {
    max-width: 100%;
    height: auto;
    /* Maintain aspect ratio */
    flex: 1 1 auto;
    /* Allow images to grow and shrink */
    object-fit: cover;
}

#nc-bloc-content-flex {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    font-family: Arial, Gadget, sans-serif;
    font-size: 16px;
    font-size: clamp(12px, 2vw, 16px);
    padding: 10px 0px 0px 0px;
}

#nc-bloc-conten-flex img {
    max-width: 100%;
    height: auto;
    /* Maintain aspect ratio */
    flex: 1 1 auto;
    /* Allow images to grow and shrink */
    object-fit: cover;
}

#nc-bloc-pic {
    width: 20%;
}

#nc-bloc-text {
    width: 80%;
    padding: 0px 0px 0px 2%;
}

#nc-img-big {
    max-height: 300px;
}

#nc-img-small {
    max-height: 140px;
}

#nc-bloc-top-title {
    color: #234c6a;
    font-family: Arial, Gadget, sans-serif;
    font-size: 18px;
    font-size: clamp(12px, 2vw, 18px);
    font-weight: bold;
    padding: 10px 0px 0px 0px;
}

#nc-bottom-bar {
    background-attachment: scroll;
    background-image: linear-gradient(to left, #ffffff 0%, #c3bbb2 100%);
    background-position: left top;
    background-repeat: repeat;
    background-size: auto;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    margin-top: 10px;
    height: 60px;
    max-width: 1000px;
    order: 6;
}

#nc-bottom-text {
    color: #456882;
    font-family: Arial, Gadget, sans-serif;
    font-size: 16px;
    font-size: clamp(12px, 2vw, 16px);
    padding: 10px 0% 0% 2%;
}

#nc-content-bloc {
    background-color: #edf2f3;
    border: 2px solid #5289b5;
    border-radius: 12px 12px 12px 12px;
    margin: 1%;
    min-height: 300px;
    min-width: 150px;
    width: 30%;
}

#nc-content-bloc-photos {
    background-color: #edf2f3;
    border: 2px solid #5289b5;
    border-radius: 12px 12px 12px 12px;
    content-align: left;
    margin: 1%;
    min-height: 300px;
    min-width: 300px;
    width: 30%;
}

#nc-content-button {
    background-color: #5289b5;
    border: 2px solid #edf2f3;
    border-radius: 8px 8px 8px 8px;
    width: 25%;
    max-width: 300px;
    max-height: 50px;
    color: #ffffff;
    font-family: Arial, Gadget, sans-serif;
    font-size: 20px;
    font-size: clamp(12px, 2vw, 20px);
    font-weight: bold;
    padding: 1% 0% 1.5% 1.5%;
}

#nc-content-button > a:visited {
    color: #ffffff;
}

#nc-content-button > a:hover {
    color: #afd8f2;
}

#nc-logo-container {
    min-width: 8%;
}

#nc-display-middle {
    align-content: flex-start;
    background-attachment: scroll;
    background-image: none;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto;
    border: 0px solid;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1000px;
    min-height: 600px;
    order: 4;
    visibility: visible;
    padding: 0px 0px 0px 1%;
}

#nc-buttons-middle {
    align-content: flex-start;
    border: 0px solid;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    order: 5;
    visibility: visible;
    padding: 0px 0px 0px 1.5%;
}

#nc-spaccer {
    min-width: 8%;
}

#nc-middle-container {
    align-content: flex-start;
    background-attachment: unset;
    background-image: unset;
    background-image-color: unset;
    background-image-gradient: unset;
    background-image-gradient-dir: unset;
    background-image-gradient-type: unset;
    background-position: unset;
    background-repeat: unset;
    background-size: unset;
    display: flex;
    justify-content: space-between;
    min-width: 92%;
}

#nc-middle-bar {
    background-attachment: scroll;
    background-image: url("nc-back-middle.png");
    background-image-color: unset;
    background-image-gradient: unset;
    background-image-gradient-dir: unset;
    background-image-gradient-type: unset;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto;
    border: 0px solid;
    display: flex;
    flex-direction: row;
    min-height: 137px;
    opacity: 0.53;
    order: 3;
}

#nc-menu-entry {
    align-self: flex-start;
    color: #1f3541;
    font-family: Arial, Gadget, sans-serif;
    font-size: 20px;
    font-size: clamp(14px, 2vw, 20px);
    padding: 0px 10px 10px 10px;
}

#nc-menu-entry > a:visited {
    color: #1f3541;
}

#nc-menu-entry > a:hover {
    color: #1f3541;
    border-bottom: 4px solid #1f3541;
}

#menu-container {
    display: flex;
    min-height: 100px;
    order: 0;
}

#nc-name-texte {
    color: #1f3541;
    font-family: Arial, Gadget, sans-serif;
    font-size: 34px;
    font-size: clamp(20px, 2vw, 34px);
}

#nc-name-texte > a:visited {
    color: #1f3541;
}

#nc-name-texte > a:hover {
    color: #1f3541;
    border-bottom: 4px solid #1f3541;
}

.resizable-image {
    width: auto;
    height: auto;
    display: block;
    margin: auto;
}

@media (max-width: 992px) {
    #nc-logo-container {
        min-height: 95px;
        min-width: 8%;
    }

    #nc-menu-bar {
        min-height: 95px;
    }

    #nc-spaccer {
        min-height: 95px;
        min-width: 8%;
    }

    #nc-middle-container {
        min-height: 95px;
    }
}
