<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Notre Coin</title>
  <link rel="stylesheet" href="{{ get_url(path='nc-root.css') }}">
  <script src=""{{ get_url(path='htmx.min.js') }}"></script>
</head>

<body>
  <div class="body-container">
    <div class="topbar-container">
      {% if lang=="en" %}
      <div class="logo-container">
        <div><a href="{{ get_url(path='', lang='en') }}"><img src="{{ get_url(path='faircolibri-logo-text-small.png') }}" width="100"></a></div>
        <div>
          <button hx-get="{{ get_url(path='@/blog/_index.md', lang='en') }}" hx-swap="outerHTML">
            Blog
          </button></div>
      </div>
      
      <div class="menu-container">

        <div><a href="{{ get_url(path='@/liens/_index.md', lang='en') }}">Links</a></div>
        <div><a href="{{ get_url(path='@/about/_index.md', lang='en') }}">About</a></div>
        <div><a href="{{ get_url(path='', lang='fr') }}">Fr</a></div>
      </div>
      {% else %}
      <div class="logo-container">
        <div><a href="{{ get_url(path='', lang='fr') }}"><img src="{{ get_url(path='faircolibri-logo-text-small.png') }}" width="100"></a></div>
      </div>
      <div class="menu-container">
        <div><a href="{{ get_url(path='@/blog/_index.md', lang='fr') }}">Petit blog</a></div>
        <div><a href="{{ get_url(path='@/liens/_index.md', lang='fr') }}">Liens</a></div>
        <div><a href="{{ get_url(path='@/about/_index.md', lang='fr') }}">A propos</a></div>
        <div><a href="{{ get_url(path='', lang='en') }}">En</a></div>
      </div>
      {% endif %}
    </div>

    <section class="section-container">
      <div>
        {% block content %} {% endblock content %}
      </div>
    </section>
  </div>
</body>

</html>
