{% extends "base.html" %}

{% block content %}

{% set max_index = section.extra.max_index %}
{% set other_section = get_section(path="books/_index.md") %}

<div id="nc-display-top">
  <div id="nc-middle-title">LE PETIT LIVRE DE LA SEMAINE</div>

  {% for page in other_section.pages %}
    {% if loop.first  %}
    <div id="nc-middle-text">
      {{ page.extra.week | safe }}
      <div id="nc-bloc-top-title"><a href="{{ page.permalink | safe }}">{{ page.title | safe }}</a></div>
      {{ page.extra.info | safe }}
    </div>
    <div id="nc-bloc-top-flex">
      <div id="nc-bloc-pic"><img id="nc-logo-livre" src="{{ get_url(path=page.extra.image) }}" /></div>
      <div id="nc-bloc-text">
       <p>{{ page.content | safe }}</p>
     </div>
    </div>
    {% endif %}
  {% endfor %}

</div>

<div id="nc-middle-bar">
  <div id="nc-spaccer"></div>
  <div id="nc-middle-container">
    <div id="nc-middle-title">LIVRES D'AVANT</div>
  </div>
</div>
<div id="nc-display-middle">

  {% for page in other_section.pages %}
    {% if not loop.first and loop.index < max_index %}
      <div id="nc-content-bloc">
        <div id="nc-bloc-top">
          <div>{{ page.extra.week | safe }}</div>
          <div id="nc-bloc-top-title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></div>
          <p></p>
          <div id="nc-bloc-top-flex">
            <div><img id="nc-logo-livre" src="{{ get_url(path=page.extra.image) }}" height="150" /></div>
            <div>&nbsp;</div>
            <div>{{ page.description | safe}}</div>
          </div>
         </div>
      </div>
    {% endif %}
  {% endfor %}

  {% if max_index < 99 %}
      <div id="nc-content-button"><a href="{{ get_url(path='@/allbooks/_index.md', lang="en" ) }}">Tous les livres</a></div>
  {% endif %}

  </div>
{% endblock content %}
