{% extends "base.html" %} {% block content %} {% set max_index =
section.extra.max_index %}

<div id="nc-display-top">
    <div id="nc-middle-title">UN MONDE DE FOUS ? PAS TOUJOURS</div>

    <div id="nc-bloc-top-flex">
        <div id="nc-bloc-pic">
            <p><img id="nc-logo-chat" src="{{ get_url(path='nc-hope.png') }}" /></p>
        </div>
        <div id="nc-bloc-text">
            <p></p>
            <p>{{ section.content | safe }}</p>
        </div>
    </div>

    <div id="nc-middle-bar">
        <div id="nc-middle-container">
            <div id="nc-middle-title">LES IDEES PAS SI FOLLES</div>
        </div>
    </div>
    <div id="nc-display-middle">
        {% for page in section.pages %} {% if loop.index < max_index %}
        <div id="nc-content-bloc">
            <div id="nc-bloc-top">
                <div id="nc-bloc-top-title">
                    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
                </div>
                <p></p>
                <div id="nc-bloc-content-flex">
                    <div>
                        <a href="{{ page.permalink | safe }}"
                            ><img
                                id="nc-img-small"
                                src="{{ get_url(path=page.extra.image) }}"
                        /></a>
                    </div>
                </div>
                <div>{{ page.description | safe}}</div>
            </div>
        </div>
        {% endif %} {% endfor %}
    </div>

    {% endblock content %}
</div>
